
        body {
            margin: 25px;
            background-color: #FFF;
            font-family: arial, sans-serif;
            font-size: 14px;
        }
        h1 {
            font-size: 35px;
            color: #000;
            margin-top: 5px;
        }

        p {
            font-size: 20px;
            margin-top: 2px;
        }

        #header {
            position: relative;
            width:300px;
        }
        #dateRange{
            float: left;
        }
        #scbtn {
            float: left;
            height:50px;
            width: 150px ;
        }
        .axis { font: 14px sans-serif; }

        path.line {
            fill: none;
            stroke: steelblue;
            stroke-width: 1px;
             }
        .pastAvgline{
            fill: none;
            stroke: black;
            stroke-width: 1.2px;
        }
        .futAvgline{
            fill: none;
            stroke: red;
            stroke-width: 1.2px;
        }

        #hibtn {
            align-content: center;
            float: left;
            height:50px;
            width: 400px ;
        }
        .plot {
            height:1000px;
            width: 2400px ;
        }
        .zoom {
            cursor: move;
            fill: none;
            pointer-events: none;
          }

          #chart{
            height: 10px;
            width: 350px;
          }
          #lchart{
            float: left;
            height: 330px;
            width: 800px;
          }
          #chartbox{
            height: 10px;
            width: 350px;
          }
