
        body {
            margin: 25px;
            background-color: #fff ;
            font-family: arial, sans-serif;
            font-size: 14px;
        }

        h1 {
            font-size: 35px;
            color: #000;
            margin-top: 5px;
        }

        p {
            font-size: 20px;
            margin-top: 2px;
        }

        #header {
            
            text-align: center;
            position: relative;
            width:all;
            padding-left:10px;
            padding-top:15px;
           
        }
        #timeSelect{
            float: left;
            margin-right: 20px;
        }
        #movingSpanSel{
            float: left;
            margin-left: 20px;
        }
        #dateRange{
            
            float: left;
            height:50px;
            width: 230px ;
        }
        #scbtn {
            height:50px;
            width: all;
            display:inline-block;
            }
        #prevData{
            float: left;
            margin-right: 10px;
        }
        #nextData{
            float: left;
            margin-left: 10px;
        }

        .axis { font: 12px sans-serif; }

        path.line {
            fill: none;
            stroke: steelblue;
            stroke-width: 1px;
             }
        .pastAvgline{
            fill: none;
            stroke: black;
            stroke-width: 1px;
        }
        .futAvgline{
            fill: none;
            stroke: red;
            stroke-width: 1px;
        }

        #hibtn {
            align-content: center;
            float: left;
            height:50px;
            width: 400px ;
        }
        .plot {
            float: left;
            height:1000px;
            width: 350px ;
        }
        .zoom {
            cursor: move;
            fill: none;
            pointer-events: none;
            
          }

          #chart{
            height: 280px;
            width: 350px;
          }
          #lchart{
            float: left;
            margin-top:0px;
            margin-left:20px;
            height: 400px;
            width: 20px;
          }
          #chartbox{
            float: left;
            height: 350px;
            width: 350px;
          }
