
        body {
            margin: 25px;
            background-color: #FFF;
            font-family: arial, sans-serif;
            font-size: 14px;
        }

        h1 {
            font-size: 35px;
            color: #000;
            margin-top: 5px;
        }

        p {
            font-size: 20px;
            margin-top: 2px;
        }

        #header {
            position: relative;
            top: 10px;
            left: 10px;
        }

        #chartbox {
            position: center;
        }